* {
    box-sizing: border-box;
 }

 .body{
    background-color: rgb(77, 5, 69);
}



.bin{
    background-image: linear-gradient(rgb(194, 11, 240),rgb(173, 124, 154));
    height: 400px;
}

.bin2{
    background-color:rgb(77, 5, 69);

}

.stats {
    color: white;
    grid-template-columns: repeat(autofit, minmax(130px,1fr));
    justify-content: space-around;
    margin-top: 2em;
    margin-right: 30px;
    list-style: none;
    font-weight: bold;
    position: relative;
    padding-left:25px ;
}

.jon{
    background-color: rgb(44, 9, 42);
    height: 120px;
    margin-top: -40px;
}

.nin{
    font-size:15px;
    margin-left: 40px;
}

.BUN{
    height: 35px;
    cursor: pointer;
    
}

.sun{
    height: 35px;
    cursor: pointer;
    margin-top: 38px;
    margin-left: 30px;

}

.suns{
    height: 35px;
    cursor: pointer;
    margin-top: 38px;
    margin-left: 20px;

}



.gum{
    background-color: rgb(43, 1, 39);
}



.min{
    color: violet;
    margin-left: 40px;
}



.un{
    display: flex;
    list-style: none;
    padding: 0 1.5em 2em;
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 5em;
    background-color:  rgb(116, 8, 110);
    opacity: 0.8;
    padding: 1em;
    font-size: 0.6em;
    line-height: 1.8em;
    margin-right: 1em;
    
    padding: 2em;
}

.hn{
    color: rgb(0, 252, 34);
}

.hn a:hover{
    color: rgb(252, 185, 0);
}



.yu{
    font-size: 15px;
}
    
.carousel-container{
    display: flex;
}

.nm{
    margin-left: 1em ;
}

.fin{
    border-right: 2px solid;
    padding-right: 30px;
    display: block;
    margin-bottom: 1.5em;
    justify-content: space-around;
    font-size: .75em;
}

.carousel{
    display: flex;
    margin-bottom: 0;
}

.jik{
    padding-left: 30px;
    
}



 